section {
    flex: 1 0 auto;
    position: relative;
    width: 100%;
    -webkit-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
}

.who_am_I {
    font-family: Cinzel;
}

.has-first-color {
    color: var(--primary-color);
}

.btn-portfolio {
    background: var(--primary-color);
    border-radius: 0;
}

.btn-portfolio a {
    color: #000;
    text-decoration: none;
}

.btn-about a {
    color: var(--text-color);
    text-decoration: none;
}

.intro_sec {
    height: calc(100vh - 60px);
    min-height: 700px;
    height: 100vh;
    margin-top: -60px;
}

@media (min-width: 991.98px) {
    .background {
        background-image: url('../../assets/images/namur_pano_gs.jpeg');
        background-size: cover; /* Optional: This makes the image cover the entire area */
        background-position: center; /* Optional: This centers the image */
        background-repeat: no-repeat; /* Optional: This prevents the image from repeating */
        width: 10vw; /* Set the width to the full viewport width */
        height: 10vh; /* Set the height to the full viewport height */
        z-index: -1;
    }
}


/* Basic styles for the image container */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Center the image vertically */
}

/* Styles to make the image circular */
.circle-image {
    width: 200px; /* Adjust as needed */
    height: 200px; /* Adjust as needed */
    border-radius: 50%; /* This makes the image circular */
    object-fit: cover; /* Ensures the image covers the entire area */
    border: 5px solid #000; /* Optional: Add a border around the circle */
}


@media (max-width: 991.98px) {
    .intro_sec {
        display: block;
        height: auto !important;
    }
}

.intro_sec .text,
.intro_sec .h_bg-image {
    width: 100%;
    width: 100%;
}

@media (max-width: 991.98px) {
    .intro_sec .text,
    .intro_sec .h_bg-image {
        width: 100%;
    }
}

.intro_sec .intro {
    max-width: 650px;
    margin: 0 auto;
}

@media (max-width: 991.98px) {
    .intro_sec .intro {
        max-width: 500px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.intro_sec .intro .feature .wrap-icon {
    background: 0 0 !important;
    width: auto;
    height: auto;
    margin-bottom: 0;
}

.intro_sec .intro .feature .wrap-icon svg {
    color: #5cccc9;
}

.intro_sec .text h1 {
    font-size: 30px;
    margin-bottom: 50px;
    font-weight: 700;
}

.intro_sec .text h3 {
    font-size: 16px;
    font-weight: 700;
}


.intro_sec .h_bg-image {
    background-size: cover;
    background-position: top;
    max-height: 30%;
    max-width: 100%;
    position: fixed;
    right: 0;
}

.ac_btn {
    padding: 4px 19px;
    color: var(--secondary-color);
    position: relative;
    border: var(--secondary-color) 2px solid;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    cursor: pointer;
    border-radius: 0;
    margin-right: 20px;
}

.ac_btn a {
    text-decoration: none;
}

.ac_btn:hover {
    box-shadow: 4px 4px 0px var(--text-color), -4px -4px 0px var(--text-color);
}

.intro_sec .h_bg-image .block {
    bottom: 50vh;
    max-width: 220px;
    padding: 30px;
    left: -110px;
    position: absolute;
    width: 250px;
    height: 220px;
    border-radius: 100%;
    /* mix-blend-mode: multiply; */
    background-color: #2f514e;
    z-index: 9999999999;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 991.98px) {
    .intro_sec .h_bg-image {
        height: 600px;
        min-height: 75vh;
        margin-bottom: 30px;
    }

    .intro_sec .h_bg-image .block {
        top: unset;
        bottom: 0;
        width: 100%;
        margin: 0;
        left: 50%;
        transform: translate(-50%, 50%);
    }
}

.intro_sec .h_bg-image .block .wrap-icon {
    font-size: 40px;
    color: var(--text-color);
    margin-bottom: 10px;
    display: block;
}

.intro_sec .h_bg-image .block h3 {
    font-size: 14px;
    color: var(--text-color);
    letter-spacing: .1rem;
    font-weight: 700;
    margin-bottom: 15px;
}

.intro_sec .h_bg-image .block p {
    font-size: 14px;
    line-height: 1.3;
    color: var(--text-color)
}

.intro_sec .h_bg-image {
    filter: saturate(0.5);
}